<div class="info">
  <div class="td0">Таблица всех рабочих:</div>
  <br>
  <table class="table" border="3" text-align: "center" cols="4" bordercolor="green">
    <tr class="td1">
      <td>ПИБ</td>
      <td>Адреса</td>
      <td>Посада</td>
      <td>Посмотреть статистику рабочего</td>
    </tr>
    <% @users.each do |x|%>
    <tr class="td2">
      <td><%= x.fullname %></td>
      <td><%= x.address %></td>
      <td><%= x.position.name %></td>
      <td><%= link_to "Посмотреть рабочие часы работника", user_path(x.id)%></td>
    </tr>
    <%end%>
  </table>
</div>