<div class="info">
  <div class="td0">Информация о продуктивности рабочего:</div>
  <br>
  <table class="table" border="3" text-align: "center" cols="3" bordercolor="green">
    <tr class="td1">
      <td>Когда пришел на работу</td>
      <td>Когда ушел с работы</td>
      <td>Рабочий день<td>
    </tr>
    <% @user.histories.each do |x|  %>
    <tr class="td2">
      <td><%= x.at_work%></td>
      <td><%= x.not_at_work%></td>
      <td>12 часов</td>
    </tr>
    <%end%>
  </table>
</div>