<nav class="navbar navbar-expand-sm">
  <ul class="navbar-nav">
    <%if user_signed_in?%>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Setting", edit_user_registration_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%# link_to "Profile", user_path(current_user.id), class:"nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Registration", new_user_registration_path, class:"nav-link" %>
        </li>
      <% end %>
    </ul>
  </nav>
